<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheGioiTho.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TheGioiTho.Properties.Settings>
            <setting name="conn" serializeAs="String">
                <value>Data Source=LAPTOP-7H9D7KEU\CSDL_SQLSEVER;Initial Catalog=DoAnTheGioiTho1;User ID=sa;Password=haolkj123;Trust Server Certificate=True</value>
            </setting>
        </TheGioiTho.Properties.Settings>
    </applicationSettings>
</configuration>